* {
    margin: 0px;
    padding: 0px;
    font-family: estedad;
}
body {
    box-sizing: border-box;
    direction: rtl;
    background-color: #F2F4F7;
}

@font-face {
    font-family: estedad;
    src: url('../../fonts/estedad-black.ttf');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: estedad;
    src: url('../../fonts/estedad-extrabold.ttf');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: estedad;
    src: url('../../fonts/estedad-bold.ttf');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: estedad;
    src: url('../../fonts/estedad-semiBold.ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: estedad;
    src: url('../../fonts/estedad-medium.ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: estedad;
    src: url('../../fonts/estedad-regular.ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: estedad;
    src: url('../../fonts/estedad-light.ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: estedad;
    src: url('../../fonts/estedad-extralight.ttf');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: estedad;
    src: url('../../fonts/estedad-thin.ttf');
    font-style: normal;
    font-weight: 100;
}

/* Header */
header {
    width: 100%;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    background: linear-gradient(165deg, #CB10A6 0%, #1A104E 100%);
}
nav {
    width: 100%;
    padding: 24px 0px 16px 0px;
}
.logo, .menue-button {
        display: none;
}
.hide-menue {
        display: none;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center ;
    gap: 80px;
}
nav ul li {
    font-size: 14px;
    font-weight: 400;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
header h1 {
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}

/* Team Slider */
.wrapper {
    width: 75%;
    height: auto;
    margin-top: 100px !important;
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
}
.btn1,
.btn2 {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.btn1:active,
.btn2:active {
    transform: translateY(-50%) scale(0.85);
}
.btn1 {
    left: -40px;
}
.btn2 {
    right: -40px;
}
.slider {
    max-width: unset;
    height: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    border-radius: 24px;
}
.card {
    padding: 24px 32px;
    background-color: #FFF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    user-select: none;
}
.card img {
    min-width: 200px !important;
    height: 200px;
    border-radius: 50%;
    pointer-events: none;
}
.card div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.card div h3 {
    color: #333333;
    font-size: 24px;
    font-weight: 500;
}
.card div p {
    color: #666666;
    font-size: 16px;
    font-weight: 500;
}

/* Features cards Hover */
.features-card {
    width: 267px;
    min-height: 305px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}
.features-card-default {
    width: 267px;
    min-height: 305px;
}
.features-card-hover {
    display: none;
    width: 267px;
    min-height: 305px;
    margin-top: -305px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(2.5px);
    border-radius: 12px;
    padding: 48px 32px;
    position: absolute;
    transition: 0.3s ease !important;
}
.features-card:hover .features-card-hover {
    display: block;
    transition: 0.3s ease !important;
    animation-name: card-hover;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}
@keyframes card-hover {
    0% {opacity: 0%;}
    50% {opacity: 100%;}
}

/* footer */
/* First Part */
.footer-bg {
    background: linear-gradient(142.5deg, #9a54ea -43.25%, #1a104e 108.83%);
    width: 100%;
    height: 100%;
    padding-top: 64px;
    padding-right: 5%;
    padding-left: 5%;
}
.footer-hr {
    margin-top: 24px;
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
}
.footer-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 24px;
}
.footer-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.footer-cta-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px 32px;
    border-radius: 40px;
    border: none;
    background-color: #cb10a6;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
    transition: 0.3s;
}
.footer-cta-main:hover {
    background-color: #d820b3;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.09);
}
.footer-cta-free {
    width: 161px;
    height: 59px;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #ffffff;
    transition: 0.3s;
}
.footer-cta-free:hover {
    background-color: #ffffff;
    color: #cb10a6;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.footer-main h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 56px;
    color: #ffffff;
}
.footer-install {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
}
.footer-install p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #ffffff;
}
.footer-install div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.footer-install-store,
.footer-install-play {
    mix-blend-mode: screen;
    width: 165px;
    height: 54px;
}
/* Middle Part */
.footer-middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-main-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}
.footer-mis {
    display: flex;
    flex-direction: column;
}
.footer-mis h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}
.footer-mis img {
    width: 122px;
    height: 70px;
    margin-top: 8px;
    margin-bottom: 16px;
}
.footer-mis p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}
.footer-social,
.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
}
a.social {
    text-decoration: none;
}
.fb {
    margin-left: 8px;
}
.social img {
    width: 24px;
    height: 24px;
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}
.footer-company,
.footer-features,
.footer-plugins {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer-links h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #ffffff;
}
.footer-links a {
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
}
.footer-lajward {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}
.footer-lajward p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}
.footer-lajward img {
    width: 150px;
    height: 21.88px;
}

/* last Part */
.footer-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 24px;
}
.footer-hr2 {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 0px;
    margin-right: 0px;
}
.terms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}
.terms a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: white;
    opacity: 0.7;
}
.footer-down h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: white;
    opacity: 0.7;
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.plugins-link img, .features-link img, .company-link img {
    display: none;
}
#main-section-2{
    display: none;
}


/************* Header Responsive ***************/
@media (max-width: 900px) {
    .burger-menue {
        position: absolute;
        top: 83px;
        left: 40px;
        width: 200px;
        background-color: rgba(255, 255, 255, 0.07);
        padding: 0px;
        border-radius: 12px;
        overflow: hidden;
    }
    .burger-menue ul {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    .burger-menue ul li {
        width: 100%;
        padding: 12px 24px 12px 24px;
    }
    .burger-menue ul li:hover {
        background-color: rgba(255, 255, 255, 0.04);;
    }
    .burger-menue ul li.seprator {
        height: 0px !important;
        padding: 0px !important;
        width: 100%;
    }
    .burger-menue ul li.seprator hr {
        color: white;
        opacity: 10%;
    }
    header nav ul {
        display: none;
    }
    nav {
        padding: 40px 40px 0px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menue-button {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    .menue-button:hover {
        background-color: rgba(255, 255, 255, 0.25);
        transition: 0.3s;
    }
    .menue-button img {
        width: 26px;
    }
    .logo {
        display: block;
        height: 40px;
    }
    .logo img {
       height: inherit;
    }
    header h1 {
        font-size: 42px;
    }
}

@media (max-width: 700px) {
    .burger-menue {
        background-color: #f2f4f7;
    }
    .burger-menue ul li:hover {
        background-color: #cb10a610;
    }
    .burger-menue ul li.seprator hr {
        color: #000;
    }
    .burger-menue ul li a {
        color: #333333;
    }
    .burger-menue ul li:hover a {
        color: #cb10a6;
    }
}

@media (max-width: 600px) {
    .logo img {
        height: 35px;
    }
    header h1 {
        font-size: 36px;
    }
}

@media (max-width: 400px) {
    header h1 {
        font-size: 32px;
    }
}


/*********** Footer Responsive **************/
@media (max-width: 1320px) {
    /* .footer-down {
      padding-bottom: 56px;
    }
    .terms {
      width: 100%;
      margin: auto;
      position: relative;
      top: 32px;
      left: 80px;
    } */
  
    .social-icons {
      display: none;
    }
    .footer-down {
      flex-direction: column-reverse;
      align-items: center;
      gap: 24px;
    }
}
  
@media (max-width: 1080px) {
    .footer-main h2 {
      font-size: 26px;
    }
    .footer-install p {
      font-size: 16px;
    }
    .footer-install-play,
    .footer-install-store {
      width: 120px;
      height: auto;
    }
    .footer-hr {
      margin-bottom: 32px;
    }
    .footer-main-intro {
      flex-direction: column-reverse;
      margin: 0px;
    }
    .footer-mis {
      display: none;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;
    }
    .footer-mis h3,
    .footer-rasaa {
      display: none;
    }
    .footer-links {
      /* justify-content: flex-start; */
      justify-content: center;
    }
    .footer-lajward {
      display: none;
    }
}
  
@media (max-width: 900px) {
    .footer-bg {
      padding-top: 16px;
    }
    .footer-up {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }
    .footer-main {
      align-items: center;
      gap: 12px;
    }
    .footer-cta-main {
      width: 233px;
    }
    .footer-install p {
      display: none;
    }
}
  
@media (max-width: 800px) {
    .footer-main h2 {
      font-size: 24px;
    }
    .footer-cta-main {
      font-size: 16px;
      width: 210px;
      padding: 8px 32px !important;
      height: 50px;
    }
    .footer-cta-free {
      font-size: 16px;
      padding: 8px 32px !important;
      line-height: 0px !important;
      height: 50px;
    }
    .footer-links {
      gap: 60px;
    }
    .footer-links h5 {
      font-size: 18px;
    }
    .footer-links a {
      font-size: 14px;
    }
    .terms a {
      font-size: 12px;
    }
}
  
@media (max-width: 700px) {
    .term-5 {
      display: none;
    }
}
  
@media (max-width: 600px) {
    .footer-main h2 {
      font-size: 23px;
    }
    .footer-cta-main {
      /* width: 180px !important; */
      font-size: 14px;
      line-height: 24px;
      width: 155px;
      height: 41px;
      padding: 8px 40px !important;
    }
    .footer-cta-free {
      font-size: 14px;
      padding: 8px 32px !important;
      width: 136px;
      height: 41px;
      line-height: 0px;
    }
    .footer-hr {
      margin-bottom: 24px;
    }
    .footer-links {
      flex-direction: column;
      gap: 24px;
    }
    .links-list1,
    .links-list2,
    .links-list3 {
      display: none;
      transition: 0.3ms;
    }
    .activate {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 12px;
      margin-right: 24px;
      transition: 0.3ms;
    }
    .company-link,
    .features-link,
    .plugins-link {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid rgba(225, 225, 225, 0.4);
      border-radius: 10px;
      padding: 10px 16px;
    }
    .company-link img,
    .features-link img,
    .plugins-link img {
      display: block;
      width: 24px;
    }
}
  
@media (max-width: 500px) {
    .footer-up, .footer-main {
      gap: 16px;
    }
    .footer-main h2 {
      font-size: 18px;
      line-height: normal;
    }
    .footer-install-play, footer .footer-install-store {
      width: 100px;
    }
    .company-link h5,
    .features-link h5,
    .plugins-link h5 {
      font-size: 16px !important;
    }
    .footer-down h5 {
      font-size: 12px;
      font-weight: 500;
    }
    a.term-3 {
      display: none;
    }

    /* Huge Button */
    .huge-button {
        height: 80px;
    }
    .huge-button div h3 {
        font-size: 18px;
    }
}
  
@media (max-width: 400px) {
    .footer-up h2 {
      width: 80%;
      text-align: center;
    }
    .footer-cta-main {
      width: 130px;
    }
    .footer-cta-free {
      width: 120px;
      padding: 8px 12px !important;
    }

    /* Huge button */
    .huge-button {
        height: 60px;
    }
    .huge-button {
        font-size: 16px;
    }
}
  
@media (max-width: 350px) {
    .term-4 {
      display: none;
    }
}